<!-- Admin sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="text-center mod-dashboard-badge-2">
            <h6>Čoko-Badem Portal</h6>
        </div>
        <strong>BS</strong>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Posts" asp-area="Admin">
                <i class="fas fa-newspaper"></i>
                Članci
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Categories" asp-area="Admin">
                <i class="fas fa-bookmark"></i>
                Kategorije
            </a>
        </li>
        <li>
            <a href="#lokacijeDropdown" data-toggle="collapse" class="dropdown-toggle inactive">
                <i class="fas fa-thumbtack"></i>
                Gradovi i blokovi
            </a>
            <ul class="collapse list-unstyled" id="lokacijeDropdown">
                <li>
                    <a asp-action="Index" asp-controller="Grad" asp-area="Admin">Gradovi</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Blok" asp-area="Admin">Blokovi</a>
                </li>
            </ul>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Narucilac" asp-area="Admin" class="inactive">
                <i class="fas fa-users"></i>
                Narucioci
            </a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Narudzba" asp-area="Admin" class="inactive">
                <i class="fas fa-receipt"></i>
                Narudžbe
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a asp-controller="Home" asp-area="" class="btn btn-sm btn-light">Nazad na portal</a>
        </li>
    </ul>
</nav>