<!doctype html>
<html class="no-js">
<head>
    <title>Čoko-badem tajna</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @RenderSection("Styles", false)
    <environment include="Development, Production">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" type="text/css" href="~/css/jquery.bxslider.css" media="screen">
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" media="screen">
        <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css" media="screen">
        <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" media="screen">
        <link rel="stylesheet" type="text/css" href="~/css/owl.theme.css" media="screen">
        <link rel="stylesheet" type="text/css" href="~/css/ticker-style.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen">


        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.migrate.js"></script>
        <script type="text/javascript" src="~/js/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.ticker.js"></script>
        <script type="text/javascript" src="~/js/jquery.imagesloaded.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/plugins-scroll.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>
    </environment>
</head>
<body>
    <div id="container">
        <header class="clearfix third-style">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <partial name="Partials/_SuperBar.cshtml" />
                @await Component.InvokeAsync("TopCarousel")
                @*<partial name="Partials/_MenuBar.cshtml" />*@
                @await Component.InvokeAsync("MenuBar")
            </nav>
        </header>
        @RenderBody();
        <partial name="Partials/_Footer.cshtml" />
    </div>
    <!-- End Container -->
</body>
</html>